
.header_row {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
}
.row_heading {
    width: 20%;
    display: inline-block;
    color: grey;
    text-align: center
}
.pop_heading {
    width: 50%;
    display: inline-block;
    color: grey;
    text-align: center
}
.table_row {
    width: 20%;
    display: inline-block;
    margin: 10px 0;
}
.temp_graph {
    width: 35%;
    display: inline-block;
}
.result_heading {
    border-bottom: 1px solid #e4e4e4;
}
#map {
    height: 100%;
  }
.weather_list {
    margin: 30px 0;
    padding: 10px 0;
    border-top: 1px solid #e4e4e4;
    
}
  .my_graph {
      width: 90%;
      margin: 0 30px;
  }
  .min_max_temp {
      text-align: center;
      border-top: 2px solid #000000;
  }
  .min_temp, .max_temp {
      margin: 20px;
      display:inline-block;
  }
.pop_table_row {
    width:23%;
    display: inline-block;
    text-align: center;
}
  .country_list {
      color: black;
      font-size: 12px;

  }
  .mdl-selectfield__select {
      margin: 0 20px;
      height: 30px;
      font-size: 12px;
  }
  .country_select {
      width: 30%;
      display: inline-block;
  }